.project-list-container {
  width: 80%;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f1f0f0;
}

.project-item {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f1dfdfa8;
}
.label {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}
.project-name {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  color: rgb(91, 129, 245);
}

.project-description {
  margin: 5px 0;
  font-size: 16px;
}

.btn-delete {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.btn-delete:hover {
  background-color: #c82333;
}
.btn-add {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.btn-add:hover {
  background-color: #0056b3;
}
