/* TeamList.css */

.team-list-container {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team-list-title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.team-item {
  width: 45%;
  background-color: #fff;
  margin: 10px 0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.team-name {
  font-size: 1.5em;
  color: #007bff;
  margin-bottom: 10px;
}

.team-members {
  padding-left: 10px;
}

.team-member {
  font-size: 20px;
  font-weight: bold;
}
